body {
  font-family: 'Roboto';
}

#profiles {
  margin: 1em;
}

#trends {
  margin: 1em;
}

#profiles #content {
  margin-top: 1em;
}

#trends #trends_content {
  margin-top: 1em;
}


#charts > div {
  display: inline-block;
}

#trends_charts > div {
  display: inline-block;
}

#brush {
  text-align: center;
}

#trends_brush {
  text-align: center;
}
#trends_tuition {
  text-align: center;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}

.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.school_div{

  border-style: solid;
  border-width: 2px;
  text-align: center;

}

#outer_school_div{
  column-count: 2;
  column-rule-width: 4px;

}

#school_name_1, #school_name_2, #school_name_3 {
  text-decoration: underline;

}


* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 18%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#start_div{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200%;
  width:200%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}


#info_box{
  background-color: white;
  position: relative;
  border-style: solid;
  border-width: 3px;
  height: 600px;
  width: 500px;
  display:inline-block;
  transform: translate(5%, 115%);
}

#info_box_content > #start_div{
  text-align: justify;
}