@font-face { 
  font-family: 'Akkurat-text';
  src: url('../fonts/akkurat/akkurat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Akkurat-text';
  src: url('../fonts/akkurat/akkurat-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face { 
  font-family: 'Akkurat-text';
  src: url('../fonts/akkurat/akkurat-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: 'Akkurat-text';
}

.control_container {
  margin: 1em 1em 0;
}

.label {
  dominant-baseline: middle;
  text-anchor: middle;
  fill: grey;
  font-size: 14px;
  fill-opacity: 0;
}

.legtext {
  dominant-baseline: middle;
  fill: grey;
  font-size: 12px;
}

.legtitle {
  fill: grey;
  font-size: 14px;
}

.modal-title {
  font-weight: bold;
}

#search_bar {
  float: right;
}

.ui-autocomplete {
  width: 250px;
  height: 200px; 
  overflow-y: scroll; 
  overflow-x: auto;
}

#profiles, #trends, #nav-about {
  margin: 1em;
}

#profiles #content {
  margin-top: 1em;
}

#trends #trends_content {
  margin-top: 1em;
}


#charts > div {
  display: inline-block;
}

#trends_charts > div {
  display: inline-block;
}

#brush {
  text-align: center;
}

#trends_brush {
  text-align: center;
}
#trends_tuition {
  text-align: center;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.y-axis{
  font-size: 8px
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}

.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.school_div{

  border-style: solid;
  border-width: 2px;
  text-align: center;
}


.school_name_1, .school_name_2{
  text-decoration: underline;
}

* { box-sizing: border-box; }

body {
  font: 16px Arial;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 18%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* loader */
.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #007bff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #fffffff2;
  opacity: 0.4;
  color: #000;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid black;
}

#comp_1{
  position: absolute;
  /*left: 150px;*/
}
#comp_2{
  position: absolute;
  right: 150px;
}

.centered-col{
  text-align: center;
}